
<div class="user-form grid_7">
<h2> <%= @list.occasion %> </h2> <br/>


<p class="btn list"><%= link_to 'Back', lists_path %></p>
</div>

<%= render :partial => 'gifts/gifts', :locals =>  {:gifts => @list.gifts}%>

<p><%= link_to 'Add a Gift', new_list_gift_path(@list) %> </p>

<p><%= link_to 'Home', lists_path %></p>

